.App {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin: 5em;
}

.editor {
  margin-right: 10em;
}

.ck-editor__editable_inline {
  min-height: 500px;
}

@media (max-width: 1000px) {
  .App {
    grid-template-columns: 1fr;
  }
}
