@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Oxygen:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fcf6f5ff;
  color: rgb(50, 121, 235);
  font-family: "Ubuntu";
}
